In [1]:
import pandas as pd

In [7]:
JD_file_path = "C:/Archit/1Learning/IK/3 Capstone Project/Capstone/data/raw/monster_com-job_sample.csv"
df_Job_descriptiosn = pd.read_csv(JD_file_path)
df_Job_descriptiosn.head(1)

,country,country_code,date_added,has_expired,job_board,job_description,job_title,job_type,location,organization,page_url,salary,sector,uniq_id
0,United States of America,US,NaN,No,jobs.monster.com,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",NaN,http://jobview.monster.com/it-support-technici...,NaN,IT/Software Development,11d599f229a80023d2f40e7c52cd941e

In [11]:
df_Job_descriptiosn["JDnTitle"] = df_Job_descriptiosn["job_title"] + ": " + df_Job_descriptiosn["job_description"]

In [9]:
df_Job_descriptiosn.head(1)

,country,country_code,date_added,has_expired,job_board,job_description,job_title,job_type,location,organization,page_url,salary,sector,uniq_id,JDnTitle
0,United States of America,US,NaN,No,jobs.monster.com,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",NaN,http://jobview.monster.com/it-support-technici...,NaN,IT/Software Development,11d599f229a80023d2f40e7c52cd941e,IT Support Technician Job in Madison: TeamSoft...